@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{

   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth ;
}
header 
{
   background-color: #0c0c0c;
   width: 100%; /*l3ard */
   position: fixed;
   z-index: 999; /* bach mat4atich 3lih chi 7aja */
   display: flex;
   justify-content: space-between; /*katdir wa7a espace mabin les element "a":"nav" */
   align-items: center; 
   padding: 10px 50px;
   font-size: small;
   
}
.main{
    width: 100%;
    padding: 100px 10px;
    display: flex;
    align-items: center;
    background: url(image/bg.webp) no-repeat ;
    background-size: cover;/*bach t7at sora kifma hiya*/
    background-position: 0px 20px;
    background-attachment: fixed;

   
}
i{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500; 
    /*padding-left: 30px; /*30px dayl espace mabin les link "A"*/
    transition: 1s ease;
}
p i {padding-left: 8px;
color: #a9a5a5;}
i:hover{
   color: #96b7f5;
   transform: scale(1.1);
}
span{
    color: #96b7f5;
}

body {
    background-color: #96b7f5;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

input {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.app-card {
    background-color: #000000c6;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    border: 1px solid rgb(248, 244, 244);


}
.app-card h3{
    font-size: 14px;
    color: #8eaee5;
}

.app-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(248, 244, 244);
}

.install-btn {
    background-color: #18951a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    
    margin-top: 10px;
    
}
.install-btn:hover{
    background-color: #043403;
    color: #ffffff;
    transform: scale(0.9); /*bach ikbar chwiya*/
    box-shadow: 0 5px  5px rgba(255, 255, 255, 0.461);
}

.footer{
   background-color: black;
    color: white;
   padding: 0.5em;
   display: flex;
   justify-content: space-between;
}

.footer-title span{
    color: #96b7f5;
    font-style: italic; 

    font-size: 1em;
    font-weight: 600 ;
}

.footer-title .span2 {
    color: #ffffff;
    font-family: Snell Roundhand, cursive;

}